@{
    ViewData["Title"] = "Home Page";
}
<DOCTYPE html>

    <title>Shahid model school and college</title>
    <p id="demo"></p>

    

    <button onclick="displayDate()">Time?</button>

    <script>
        function displayDate() {
            document.getElementById("demo").innerHTML = Date();
        }
    </script>

    <p id="demo"></p>
    <header>
        <link href="~/css/site.css" rel="stylesheet" />
        <link href="~/css/superfish.css" rel="stylesheet" />
        <link href="~/css/superfish-vertical.css" rel="stylesheet" />
        <link href="~/css/validationEngine.jquery.css" rel="stylesheet" />
        <link href="~/css/MenuMatic.css" rel="stylesheet" />
        <link href="~/css/print.css" rel="stylesheet" />
        <link href="~/css/screen.css" rel="stylesheet" />
    </header>
    <div style="font-size: 25px; background-color: yellowgreen;">
        <marquee behavior="scroll" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="5" style="padding: 7px;"><span style=" font-size: 25px" ="">Thanks For visiting our website</a></marquee>
    </div>
    <body style="background-color: white">
        <div class="modal-body row">
            <div class="col-md-7">
                <h2 class="title">Shaheed Model School And College</h2><hr>
                <div class="entry">
                </div>
                <div class="item">
                    <img src="~/images/10.jpg" alt="Visual Studio" class="img-responsive" style="width:650px;height:270px;" />

                </div>
            </div>
            <div class="item">
                <img src="~/images/c9.jpg" alt="Visual Studio" class="img-responsive" style="width:108px;height:90px;" />

            </div>



            <div style="margin-left: 95px" class="col-md-4">



                <ul class="list-group">
                    <li class="list-group-item">
                        <h2>Daily Notice</h2>
                        <br>
                        <center>
                            <table background="" border="0" cellpadding="1" cellspacing="1" style="height: 200px; width: 240px;">
                                <tbody>
                                    <tr>
                                        <td style="text-align: center;">
                                            <p></p>
                                            <center>
                                                <marquee behavior="scroll" direction="up" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="3" style="width: 180px; height: 200px; font-size: 12px; ><span style=" font-size:18px" ="">
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://shahidcadetacademy.org/?page=notice_details&id=22" style="font-size: 16px;font-weight: bold;">
                                                        Special Admission Test Result,2018 (14.01.2018) &amp; New Admission Procedure - 2018
                                                    </a>
                                                </marquee>
                                            </center><br>
                                            <p>&nbsp;</p><br>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </center>
                    </li>
                </ul>

            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="col-sm-4">

            <div class="cs-footer-col">
                <h6>IMPORTANT LINK</h6>
                <ul class="">
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://www.educationboard.gov.bd/" target="_blank">Education Board</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://dhakaeducationboard.portal.gov.bd/" target="_blank">Dhaka Education Board</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://www.moedu.gov.bd/" target="_blank">Ministry of Education</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://banbeis.gov.bd/new/" target="_blank">Banbeis</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://www.dshe.gov.bd/" target="_blank">Directorate of Secondary &amp; Higher Education</a></li>
                    <li><i class="fa fa-angle-double-right" aria-hidden="true"></i> <a href="http://www.nu.edu.bd/" target="_blank">National University</a></li>
                </ul>
            </div>

        </div>
    </body>
</DOCTYPE>