@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model ProjectV.Models.Payment

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Payment" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="pyear" class="control-label"></label>
                <input asp-for="pyear" class="form-control" />
                <span asp-validation-for="pyear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pmonth" class="control-label"></label>
                <input asp-for="pmonth" class="form-control" />
                <span asp-validation-for="pmonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="studentid" class="control-label"></label>
                <input asp-for="studentid" class="form-control" />
                <span asp-validation-for="studentid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="rollid" class="control-label"></label>
                <input asp-for="rollid" class="form-control" />
                <span asp-validation-for="rollid" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ammount" class="control-label"></label>
                <input asp-for="ammount" class="form-control" />
                <span asp-validation-for="ammount" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
